* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 1.6;
    color: #333;
}

.navigation {
    background: linear-gradient(135deg,#3d4c8f 0%, #33065f 100%);
    display: flex;
    padding: 1.5rem 3rem;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    

}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: all 0.3 ease;
}

.logo {
    font-size: 1.5rem;
    color: white;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    
}

.nav-links a:hover {
    background-color: #f5f6f8;
    color: rgb(49, 47, 47);
    transform: translateY(-2px);
    box-shadow: 0 2px 4px black;
}

.nav-links a:active {
    transform: translateY(2px);
    background-color: red;
    color: black;
     box-shadow: 0 1px 2px black;
    
}

.main-section {
    background: linear-gradient(135deg, #52058d 0%, #8350aa 100%);
    height: 35vh;
    text-align: center;
   
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px black;
}

.main-description {
    font-size: 1.3rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8rem;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: rgb(199, 198, 219);
    padding: 4rem 3rem;
    align-items: stretch;
    
}

.card {
   background-color: white;
    border-radius: 15px;
    padding: 2rem 2.5rem;
    max-width: 350px;
    box-shadow: 0 5px 15px rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 0;
    min-width: 0;

    transition: all 0.6s ease;
     
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 3px 10px rgb(52, 51, 51);
}

.card-icon {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.card h3{
    color: rgb(228, 146, 228);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.card p {
    color: rgb(89, 124, 111);
    line-height: 1.7rem;
    font-size: 1rem;
}

.footer {
  background-color: #2c3e50;
  color: white;
  padding: 3rem 3rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-section h4 {
  color: #667eea;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.footer-section p {
  color: #ccc;
  line-height: 1.6;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
  transition: all 0.3 ease;
}

.footer-section a:hover {
  color: #667eea;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid #1e3348;
  color: #767676;
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    padding: 0.8rem;
  }

  .nav-links {
    gap: 0.7;
  }

  .main-title {
    font-size: 2rem;
  }
  .main-description {
    font-size: 1rem;
  }
  .main-section {
    padding: 0rem 4rem;
  }

  .card-container {
    flex-direction: column;
  
  }

  
}

@media (max-width:480px){
  .navigation{
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
  }
  .logo h2 {
    font-size: 1.4rem;
    display: none;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.7rem;
  }

  .main-title {
    font-size: 1.6rem;

  }
  .main-description{
    font-size: 1rem;
  }
  .card-container {
    padding: 2rem 1rem;
  }

 .card h3 {
  font-size: 1.3rem;
 }

 .card p {
  font-size: 0.8rem;
 }

 .footer {
  padding: 2rem 1rem;
 }

 .footer-section h4 {
  font-size: 1.1rem;
 }

 .footer-section p,
 .footer-section a {
font-size: 0.9rem;
 }
}
