<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezultat</title>
</head>
<body>
    
    <h1>Број на карактери: <i>{{brojkiNaKarakteri}}</i></h1>
    <h1>Зборови помали од 5: <i>{{pomaliOdPet}}</i></h1>
    <h1>Зборови поголеми од 5: <i>{{pogolemiOdPet}}</i></h1>
    <h1>Зборови еднакви на 5: <i>{{ednakviNaPet}}</i></h1>
    <h1>Број на реченици: <i>{{brojNaRecenici}}</i></h1>
    <h1>Вкупно зборови: <i>{{brojNaZborovi}}</i></h1>
    <h1>Зборови што почнуваат на самогласка: <i>{{pocnuvaatNaSamoglaski}}</i></h1>

    <br />
    <a href="/analiza">Назад</a>
</body>
</html>