* {
    margin: 0;
    padding: 0;
}


.div1 {
 height: 100px;
 background-image: linear-gradient(135deg,rgb(154, 240, 16),rgb(231, 245, 199));
 display: flex;
 justify-content: space-between;
 align-items: center;
 
 
 
}

.div2 {
font-size: 30px;
margin-left: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

color: rgb(2, 16, 17);
    -webkit-text-stroke: 1px black;

    

}

.div3 {

 display: flex;
 gap: 20px;
 margin-right: 10px;
border-radius: 15px;


}

.div3 button {
    padding: 7px;
    border: none;
    border-radius: 7px;
    background-color: rgb(243, 239, 236);
    gap: 10px;
    margin-right: 20px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    font-size: medium;
    
    
    
    
}

.div3 a {
    color: #0060B6;
    text-decoration: none;
    
    
    
}

.div4 {
    background-color: blueviolet;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(orange.jpg);
    
    background-size: cover;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    


}
.div4 button {
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    font-size: medium;
    
    
    
}
.div4 a {
    color: #4e07d2;
    text-decoration: none
}

.div5 {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    
}

.div6 {
     width: 50%;
    height: 100%;
    text-align: center;
    background-image: url(multi.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}



.div7 {
    width: 50%;
    height: 100%;
    text-align: center;
    background-image:url(bb.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div8 {
    background: rgba(255, 255, 255, 0.8); /* transparent white */
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
    text-align: center;
    backdrop-filter: blur(3px); /* optional: gives a frosted effect */
}

.div14 {
    background: rgba(255, 255, 255, 0.8); /* transparent white */
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
    text-align: center;
    backdrop-filter: blur(3px); /* optional: gives a frosted effect */
    
}

.div8 button {
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    font-size: medium;
}

.div8 a {
    text-decoration: none;
}

.div9 {
    background: rgba(255, 255, 255, 0.8); /* transparent white */
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
    text-align: center;
    backdrop-filter: blur(3px); /* optional: gives a frosted effect */

}

.div9 button {
     padding: 8px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    font-size: medium;
}

.div9 a {
    text-decoration: none;
}

footer {
    background-color: #2c2b2a;
    color: white;
    text-align: center;
    padding: 20px;
    flex-shrink: 0; /* Prevent footer from shrinking */
}

